[submodule "FHV"]
	path = FHV
	url = https://github.com/WeinSim/P3B_FHV
[submodule "BAS"]
	path = BAS
	url = https://github.com/WeinSim/P3B_BAS
[submodule "ROE"]
	path = ROE
	url = https://github.com/WeinSim/P3B_ROE
